/*
 * Feel free to change name of colors if you need it
 * Feel free to add new colors if you need it
 */
:root {
  --bg-color--dark: #0b192f;
  --bg-color--header: #024161;
  --link: #fff;
  --link--hover: #1f52a4;
  --bg-footer-color: #024161;
}

body {
  font-family: roboto;
}
.post-1 {
	background: #9d27b0;
}
.post-2 {
	background: #9bb800;
}
.post-3 {
	background: #ed5120;
}
.post-4 {
	background: #9d27b0;
}
.post-5 {
	background: #2d95bb;
}

body {
  background-color: var(--bg-color--dark);
  margin: 0px 0px 0px 0px;
  display: grid;
  grid-template-columns: auto 550px 200px auto;
  grid-template-rows: auto auto auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

header {
  background-color: var(--bg-color--header);
  color: var(--link);
  display: flex;
  justify-content: space-between;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

h1 {
  font-weight: lighter;
  float: left;
  margin: 20px;
  font-size: 20pt;
}

h1>span {
  font-weight: 100;
  color: #ed5120;
}

nav {
  float: right;
  margin: 0px 40px;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav :last-child {
  display: none;
}

nav>a {
  text-decoration: none;
  font-weight: normal;
  font-size: 10pt;
  padding: 28px 10px;
  color: var(--link);
}

nav>a:hover {
  background-color: var(--link--hover);
}

.post-content>p:before, .news>article>p:before{
  content: "Lorem ipsum dolor sit amet, conse ctetuer. Duis autem vemeu iriure dolor adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat wisi enim.";
}

img {
  width: 100%;
}

.main-post {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  padding-top: 10px;
  color: var(--link);
  background: url(../img/post0.jpg);
  background-size: 100% 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

h2 {
  font-size: 20pt;
  margin: 0px 0px 10px 30px;
  font-weight: 100;
}

p {
  font-size: 6pt;
  font-weight: 100;
  line-height: 14pt;
  margin: 0px 0px 30px 30px;
  font-weight: normal;
}

.main-post>p {
  margin: 0px 230px 30px 30px;
}

.other-posts {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.other-posts>article {
  display: flex;
  color: var(--link);
}

.other-posts>article:nth-child(even) {
  flex-direction: row-reverse;
}

.other-posts>article:nth-child(odd) {
  flex-direction: row;
}

.other-posts>article:last-child>section>p {
  margin-right: 30px;
}

.other-posts>article>img {
  float: right;
  width: 50%;
  height: 200px;
}

.date {
  width: 40px;
  opacity: 30%;
  display: block;
  line-height: unset;
}

article:nth-child(odd)>.date>p {
  margin: 20px 10px 0px 0px;
}

article:nth-child(even)>.date>p {
  margin: 20px 0px 0px 10px;
}

.date>p {
  font-weight: 200;
  font-size: 12pt;
}

.date :first-of-type {
  font-size: 20pt;
}

.post-content {
  margin-top:20px;
}

article:nth-child(even)>.post-content :first-of-type {
  margin: 0px 30px 0px 5px;
  text-align: right;
}

.other-posts:last-child {
  height: auto; 
}

.news {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  display: block;
}

.news>article {
  height: auto;
  background-color: var(--link);
  padding: 0px 0px 20px 0px;
  margin: 0px 0px 30px 0px; 
}

.news>article>h2 {
  margin: 20px 20px 0px 20px;
  font-weight: 300;
  font-size: 16pt;
}

.news>article>p {
  margin: 5px 20px 0px 20px;
  font-size: 8pt;
}

footer {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
  background-color: var(--bg-footer-color);
  display: flex;
}

footer>section>p {
  margin: 0px 20px 0px 20px;
  color: darkgrey;
}

.copyright {
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 14pt;
  float: left;
  width: 85%;
}

.author {
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 8pt;
  float: right;
  width: 15%;
}

@media screen and (max-width: 768px) {
  body {
    margin: 0px 8px 0px 8px;  
    display: grid;
    grid-template-columns: 0% 70% 30% 0%;
    grid-template-rows: auto auto auto auto;
    grid-column-gap: 0px;
  }
  
  h1 {
    font-size: 28pt;
  }

  h1>span {
    color: #9d27b0;
  }

  nav>a {
    display: none;
    text-decoration: none;
    padding: 0px 0px;
    font-size: 28pt;
    line-height: 13pt;
  }

  nav>a:hover {
    background-color: var(--bg-color--header);
  }

  nav :last-child {
    display: inline;
  }

  header {
    text-align: center;
    padding: 10px 0px 10px 0px;
    flex-direction: column-reverse;
  }
  
  nav {
    margin: 10px;
    padding: 5px;
    font-size: 30px;
    line-height: 10pt;
    font-weight: 100;
  }

  h1 {
    margin: 50px 0px 30px 0px;
  }

  h2 {
    margin: 0px 30px 10px 20px;
  }

  .main-post>p {
    margin: 0px 30px 30px 20px;
  }
}

@media screen and (max-width: 480px) {
  body {
    margin: 0px 8px 0px 8px;  
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto;
    grid-column-gap: 0px;
  }

  header {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .main-post {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
    
  .other-posts {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .news {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  footer {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
  }

  h1>span {
    color: #ed5120;
  }

}

