body {
  background-color: #ffffff; }

.header {
  background-image: url("../img/m-h-day.jpg");
  background-size: 100%;
  background-position-y: center;
  border-radius: 0 0 500px / 200px 0;
  padding: 0 20px 20px 20px; }

.header-wrap {
  padding: 5px 45% 140px 7%; }

.landing-logo img {
  float: left; }
.landing-logo p {
  padding: 5px 0 0 30px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 22px;
  font-weight: bold;
  float: none;
  color: #2c2f3c;
  text-align: center;
  width: 100px;
  line-height: 13pt; }
  .landing-logo p span {
    display: block;
    font-size: 8px;
    font-weight: 100; }

.header_heading {
  padding: 20px 0 20px 0;
  width: 300px;
  font-size: 40px;
  line-height: 30pt;
  font-weight: bold; }

.usual-font, .header_heading, .header_text {
  font-family: "Source Sans Pro", sans-serif;
  color: #2c2f3c; }

.header_text {
  width: 580;
  padding-bottom: 20px; }

.header_button {
  border-radius: 3px;
  background-color: #699900;
  width: 130px;
  height: 40px;
  border: none;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer; }
  .header_button:hover {
    background-color: #354d00; }

.login {
  padding: 0 0 0 90px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer; }
  .login:hover {
    color: #d9d9d9; }

.section_text {
  color: #2c2f3c;
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px 10px 10px 10px;
  text-align: center;
  font-weight: bold;
  font-size: 22px; }

.section_card_wrap {
  padding: 0 30px 15px 30px; }

.section_card {
  background-color: #21232e;
  border-radius: 5px;
  margin: 5px;
  display: block;
  overflow: auto;
  padding: 10px; }

.section_card_right_container {
  float: right; }

.section_card_img {
  padding: 5px; }

.section_card_heading {
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  font-family: "Source Sans Pro", sans-serif;
  padding-top: 10px; }

.section_card_text {
  padding: 10px 60px;
  width: 500px;
  text-align: justify;
  color: #d1d1d1;
  font-size: 13px;
  font-family: sans-serif; }

.section_link {
  padding: 0 0 0 90px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #d1d1d1;
  cursor: pointer;
  text-align: center;
  font-weight: 100;
  padding: 0px 0px 20px 0px;
  text-align: center;
  display: block; }
  .section_link:hover {
    color: #ababab; }

.section_banner {
  background: linear-gradient(90deg, #e2aa02, #963150);
  border-radius: 5px;
  margin: 5px;
  display: block;
  overflow: auto;
  padding: 10px 170px 10px 60px;
  position: relative;
  bottom: -50px; }

.section_banner_text_wrap {
  width: 400 px;
  padding: 10px 100px 10px 50px;
  float: left; }

.section_banner_heading {
  text-align: left;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  font-family: "Source Sans Pro", sans-serif; }

.section_banner_text {
  text-align: left;
  color: #d1d1d1;
  font-size: 13px;
  font-family: "Source Sans Pro", sans-serif; }

.section_banner_button {
  border-radius: 3px;
  background-color: #699900;
  width: 130px;
  height: 40px;
  border: none;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  /*padding: 30px 70px 20px 20px;*/
  float: right;
  margin-top: 40px; }
  .section_banner_button:hover {
    background-color: #354d00; }

.footer {
  background-color: #21232e; }

.footer-wrap {
  padding: 50px 100px 50px 100px;
  display: block;
  overflow: auto; }

.footer_logo {
  float: left; }
  .footer_logo p {
    color: #d1d1d1; }

.footer_text {
  color: #d1d1d1;
  text-align: justify;
  width: 400px;
  margin-left: 600px;
  margin-right: 500px; }

.footer-cr {
  float: right;
  color: #d1d1d1; }

main {
  margin: 0 auto;
  width: 960px; }

/*# sourceMappingURL=style1.css.map */
