$background-h: "../img/m-h-night.jpg";
$font-family-h: "f1";
$font-family-s: "f2";
$main-font-color: #ffffff;
$sub-color:#2c2f3c;
$lightening-color:#14a0c7;
$button-color:#e3ac00;
$background-main:#21232e;
$background-block:#3b3f50;
$main-font-color-block: #ffffff;
$text-color-block:#d1d1d1;
$gradient-from:#65950c;
$gradient-to:#2d5bd7;