$background-h: "../img/m-h-day.jpg";
$font-family-h: "f1";
$font-family-s: "f2";
$main-font-color: #2c2f3c;
$sub-color:#ffffff;
$lightening-color:#ff4e33;
$button-color:#699900;
$background-main:#ffffff;
$background-block:#21232e;
$main-font-color-block: #ffffff;
$text-color-block:#d1d1d1;
$gradient-from:#e2aa02;
$gradient-to:#963150;